@charset "UTF-8";
@import url("https://fonts.cdnfonts.com/css/orbiter-fbs-trial");
body * {
  border: none;
  margin: none;
  padding: none;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}
body *::-webkit-scrollbar {
  width: 8px;
}
body *::-webkit-scrollbar-track {
  background-color: transparent;
}
body *::-webkit-scrollbar-thumb {
  background-color: var(--ui1);
  border-radius: 5vmin;
  background-clip: content-box;
  transition: 0.35s;
}
body *::-webkit-scrollbar-thumb:hover {
  background-color: var(--ui4);
}

#sidebar {
  height: 100%;
  width: 60px;
  background: var(--bg3);
  transition: 0.35s;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: column;
  border-right: var(--outline) solid 1px;
  padding: 12.5px;
  gap: 12.5px;
  /* &:hover > .sbicon {
      right: calc(40vmin - $sbiconhw - $sbiconpad);
  } */
}
#sidebar .sbbutton {
  width: 35px;
  height: 35px;
  background: transparent;
  border: none;
  display: flex;
}
#sidebar .sbbutton .sbicon {
  width: 35px;
  height: 35px;
  color: var(--sbicons);
  cursor: pointer;
  transition: all 0.35s;
}
#sidebar .sbbutton .sbicon:hover {
  color: var(--h1);
  transform: scale(120%);
  filter: drop-shadow(0 0 1vmin var(--h2)) drop-shadow(0 0 1vmin var(--active)) drop-shadow(0 0 5vmin var(--active)) drop-shadow(0 0 10vmin var(--active));
}

#content {
  position: fixed;
  height: calc(100dvh - 35px);
  width: calc(100dvw - 60px);
  overflow: hidden;
  bottom: 0;
  right: 0;
  padding: 3.5vmin;
  /* background-image: url("https://picsum.photos/seed/picsum/1920/1080?blur=5");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
}
#content #taskCreateInputWrapper {
  height: 12.5vmin;
  width: calc(100% - 7vmin);
  position: absolute;
  bottom: 3.5vmin;
  left: 3.5vmin;
}
#content #taskCreateInputWrapper input {
  height: 100%;
  width: calc(100% - 10vmin);
  background: var(--ui1);
  border: var(--outline) solid 1px;
  border-radius: var(--border-rad);
  padding: 1vmin 1.5vmin;
  padding-top: 1.5vmin;
  outline: none;
  color: var(--h2);
  font-size: 3vmin;
  font-family: var(--font);
}
#content #taskCreateInputWrapper #taskCreateTitleWrapper {
  position: absolute;
  top: 0%;
  left: 50%;
  height: calc(50% - 0.25vmin);
  width: 100%;
  transform: translateX(-50%);
}
#content #taskCreateInputWrapper #taskCreateDescriptionWrapper {
  position: absolute;
  bottom: 0%;
  left: 50%;
  height: calc(50% - 0.25vmin);
  width: 100%;
  transform: translateX(-50%);
}
#content #taskCreateInputWrapper #taskCreateDescriptionWrapper input {
  color: var(--p2);
}
#content #taskCreateInputWrapper #taskCreateButtonWrapper {
  height: 100%;
  width: 9.5vmin;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 200;
}
#content #taskCreateInputWrapper #taskCreateButtonWrapper #taskCreateButton {
  background: var(--ui1);
  border: var(--outline) solid 1px;
  border-radius: var(--border-rad);
  cursor: pointer;
  height: 100%;
  width: 100%;
  transition: 0.35s;
}
#content #taskCreateInputWrapper #taskCreateButtonWrapper #taskCreateButton:hover {
  background: var(--active);
  border: var(--outline-active) solid 1px;
  filter: drop-shadow(0 0 1vmin var(--active)) drop-shadow(0 0 5vmin var(--active));
}
#content #taskCreateInputWrapper #taskCreateButtonWrapper #taskCreateButton:hover > svg {
  color: var(--h1);
  filter: drop-shadow(0 0 1vmin var(--p3)) drop-shadow(0 0 2.5vmin var(--h2));
}
#content #taskCreateInputWrapper #taskCreateButtonWrapper #taskCreateButton svg {
  color: var(--p2);
  font-size: 5vmin;
  transition: 0.35s;
}
#content #taskWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 0 5px;
  padding-bottom: 7vmin;
  gap: 1vmin;
  top: 3.5vmin;
  left: calc(3.5vmin - 5px);
  height: calc(100% - 7vmin - 12.5vmin);
  width: calc(100% - 7vmin + 10px);
  position: absolute;
  overflow-y: auto;
}
#content #taskWrapper .task {
  width: 100%;
  padding: 1.5rem 0.5rem;
  gap: 0.5rem;
  height: fit-content;
  background: var(--ui2);
  height: fit-content;
  border: var(--outline) solid 1px;
  border-radius: var(--border-rad);
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-shrink: 0;
  cursor: pointer;
}
#content #taskWrapper .task .task_contentWrapper {
  height: fit-content;
  width: calc(75% - 10vmin);
}
#content #taskWrapper .task .task_contentWrapper .task_text {
  margin: 0;
  line-height: min(6.5vmin, 3rem);
  font-size: min(6.5vmin, 3rem);
  color: var(--h1);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: text;
}
#content #taskWrapper .task .task_contentWrapper .task_desc {
  margin: 0;
  line-height: calc(min(2.65vmin, 1rem) + min(2.65vmin, 1rem) / 10);
  font-size: min(2.65vmin, 1rem);
  margin-bottom: calc(0 - (min(2.65vmin, 1rem) + min(2.65vmin, 1rem) / 10));
  color: var(--p1);
  max-height: 50vmin !important;
  overflow: auto;
  cursor: text;
}
#content #taskWrapper .task .task_contentWrapper .task_desc .clamp-lines__button {
  background: transparent;
  color: var(--p3);
  height: 1rem;
  padding: 0 !important;
  width: fit-content;
  font-size: 0.85rem;
  cursor: pointer;
}
#content #taskWrapper .task .task_contentWrapper.checked * {
  text-decoration: line-through;
  color: var(--disabled);
}
#content #taskWrapper .task .task_checkmarkWrapper {
  width: 60px;
  height: 100%;
  display: flex;
  padding: 12px;
}
#content #taskWrapper .task .task_checkmarkWrapper .checkmarkContainer {
  display: flex;
  aspect-ratio: 1/1;
  width: 100%;
  position: relative;
  cursor: pointer;
  font-size: 1rem;
  user-select: none;
}
#content #taskWrapper .task .task_checkmarkWrapper .checkmarkContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
#content #taskWrapper .task .task_checkmarkWrapper .checkmarkContainer .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--ui4);
  border-radius: var(--border-rad);
  transition: 0.35s;
}
#content #taskWrapper .task .task_checkmarkWrapper .checkmarkContainer .checkmark:after {
  position: absolute;
  display: none;
  content: "✔" !important;
  left: 50%;
  top: 50%;
  color: var(--h2);
  font-size: 1rem;
  transform: translate(-50%, -50%);
}
#content #taskWrapper .task .task_checkmarkWrapper .checkmarkContainer:hover input ~ .checkmark {
  background: var(--h2);
  transform: scale(115%);
  filter: drop-shadow(0 0 1vmin var(--h2)) drop-shadow(0 0 1vmin var(--active)) drop-shadow(0 0 5vmin var(--active)) drop-shadow(0 0 10vmin var(--active)) !important;
}
#content #taskWrapper .task .task_checkmarkWrapper .checkmarkContainer input:checked ~ .checkmark {
  background: var(--active);
  filter: drop-shadow(0 0 1vmin var(--active)) drop-shadow(0 0 5vmin var(--active));
}
#content #taskWrapper .task .task_checkmarkWrapper .checkmarkContainer:hover input:checked ~ .checkmark {
  filter: drop-shadow(0 0 1vmin var(--active)) drop-shadow(0 0 5vmin var(--active)) drop-shadow(0 0 10vmin var(--active)) !important;
}
#content #taskWrapper .task .task_checkmarkWrapper .checkmarkContainer input:checked ~ .checkmark:after {
  display: block;
}
#content #taskWrapper .task .task_dataWrapper {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}
#content #taskWrapper .task .task_dataWrapper .creationDateLabel {
  margin: 0;
  font-size: 0.85rem;
  color: var(--p3);
  padding-top: 1vmin;
}
#content #taskWrapper .task .task_dataWrapper .creationDate {
  margin: 0;
  font-size: 0.85rem;
  color: var(--p1);
}
#content #taskWrapper .task .task_dataWrapper .dueDateLabel {
  margin: 0;
  font-size: 0.85rem;
  color: var(--p3);
  padding-top: 1vmin;
}
#content #taskWrapper .task .task_dataWrapper #dueDate {
  padding: 0.25rem;
  margin: 0.25rem 0;
  font-family: var(--font);
  width: 100%;
  text-align: right;
  vertical-align: middle;
  font-size: 1rem;
  color: var(--p2);
  background: var(--ui4);
  border-radius: var(--border-rad);
  border: var(--outline) solid 1px;
  color-scheme: var(--color-shceme);
  outline: none;
}
#content #taskWrapper .task .task_dataWrapper .task_optionsWapper {
  width: 100%;
  height: 20px;
  display: flex;
  flex-direction: row;
  gap: 0.5vmin;
  justify-content: flex-end;
  margin-top: 0.5vmin;
}
#content #taskWrapper .task .task_dataWrapper .task_optionsWapper .task_option_icon {
  height: 100%;
  aspect-ratio: 1/1;
  font-size: 1rem;
  color: var(--p2);
  cursor: pointer;
  transition: 0.35s;
}
#content #taskWrapper .task .task_dataWrapper .task_optionsWapper .task_option_icon:hover {
  color: var(--active);
  transform: scale(120%);
  filter: drop-shadow(0 0 1vmin var(--active)) drop-shadow(0 0 5vmin var(--active));
}
#content #taskScrollShade {
  height: 5vmin;
  width: 100%;
  background: linear-gradient(180deg, transparent, var(--bg2));
  z-index: 99;
  position: absolute;
  left: 0%;
  bottom: 16vmin;
  user-select: none;
  pointer-events: none;
}

#taskedit {
  width: 55vmin;
  transform: translateX(calc(100% + 10vmin));
  height: calc(100dvh - 35px);
  position: fixed;
  top: 35px;
  right: 0;
  background: var(--ui2);
  border-left: var(--outline) solid 1px;
  box-shadow: 0 0 1vmin var(--bg3), 0 0 5vmin var(--bg3), 0 0 10vmin var(--bg3);
  transition: transform 1s;
  padding: 2.5vmin;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1vmin;
}
#taskedit #taskedit_title {
  color: var(--h1);
  font-weight: bold;
  background: var(--ui1);
  padding: 2vmin;
  padding-top: 2.5vmin;
  font-size: 4.5vmin;
  width: 100%;
  font-family: var(--font);
  border-radius: var(--border-rad);
  outline: var(--outline) solid 1px;
  transition: 0.15s;
}
#taskedit #taskedit_title:focus {
  border-bottom: 1vmin solid var(--active);
}
#taskedit #taskedit_desc {
  color: var(--p1);
  background: var(--ui1);
  padding: 2vmin;
  padding-top: 2.5vmin;
  font-size: 3vmin;
  min-height: 15vmin;
  height: fit-content;
  overflow-y: auto;
  max-height: 60vmin;
  width: 100%;
  font-family: var(--font);
  border-radius: var(--border-rad);
  outline: var(--outline) solid 1px;
  transition: 0.15s;
}
#taskedit #taskedit_desc::-webkit-scrollbar {
  width: 8px;
}
#taskedit #taskedit_desc::-webkit-scrollbar-track {
  background-color: transparent;
}
#taskedit #taskedit_desc::-webkit-scrollbar-thumb {
  background-color: var(--ui4);
  border-radius: 5vmin;
  background-clip: content-box;
  transition: 0.35s;
}
#taskedit #taskedit_desc::-webkit-scrollbar-thumb:hover {
  background-color: var(--ui5);
}
#taskedit #taskedit_desc:focus {
  border-bottom: 1vmin solid var(--active);
}
#taskedit #taskedit_savechanges {
  width: 100%;
  padding: 2vmin;
  font-size: 3vmin;
  color: var(--p1);
  background: var(--active);
  border-radius: var(--border-rad);
  cursor: pointer;
  transition: 0.35s;
  box-shadow: 0 0 2vmin rgba(var(--active), 0.75);
  text-shadow: 0 0 3vmin var(--p3);
}
#taskedit #taskedit_savechanges:hover {
  box-shadow: 0 0.5vmin 5vmin var(--active);
  transform: translateY(-0.5vmin);
  text-shadow: 0 0 2vmin var(--h1);
}

#taskview {
  width: 55vmin;
  transform: translateX(calc(100% + 10vmin));
  height: calc(100dvh - 35px);
  position: fixed;
  top: 35px;
  right: 0;
  background: var(--ui2);
  border-left: var(--outline) solid 1px;
  box-shadow: 0 0 1vmin var(--bg3), 0 0 5vmin var(--bg3), 0 0 10vmin var(--bg3);
  transition: transform 1s;
  padding: 2.5vmin;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1vmin;
}
#taskview #taskview_close {
  color: var(--h2);
  opacity: 0.5;
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}
#taskview .taskview_title {
  color: var(--h1);
  font-weight: bold;
  background: var(--ui1);
  margin: 0;
  margin-top: 1.25rem;
  padding: 2vmin;
  padding-top: 2.5vmin;
  font-size: 4.5vmin;
  width: 100%;
  font-family: var(--font);
  border-radius: var(--border-rad);
  outline: var(--outline) solid 1px;
  transition: 0.15s;
}
#taskview .taskview_desc {
  color: var(--p1);
  font-weight: normal;
  background: var(--ui1);
  margin: 0;
  padding: 2vmin;
  padding-top: 2.5vmin;
  font-size: 3vmin;
  width: 100%;
  font-family: var(--font);
  border-radius: var(--border-rad);
  outline: var(--outline) solid 1px;
  transition: 0.15s;
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 15vmin;
  max-height: 60vmin;
}
#taskview .taskview_desc::-webkit-scrollbar {
  width: 8px;
}
#taskview .taskview_desc::-webkit-scrollbar-track {
  background-color: transparent;
}
#taskview .taskview_desc::-webkit-scrollbar-thumb {
  background-color: var(--ui4);
  border-radius: 5vmin;
  background-clip: content-box;
  transition: 0.35s;
}
#taskview .taskview_desc::-webkit-scrollbar-thumb:hover {
  background-color: var(--ui5);
}
#taskview .taskview_desc:focus {
  border-bottom: 1vmin solid var(--active);
}
#taskview .taskview_duedate {
  color: var(--p2);
  font-weight: normal;
  background: var(--ui1);
  margin: 0;
  padding: 2vmin;
  padding-top: 2.5vmin;
  font-size: 3vmin;
  width: 100%;
  font-family: var(--font);
  border-radius: var(--border-rad);
  outline: var(--outline) solid 1px;
  transition: 0.15s;
}
#taskview .taskview_duedate #tvdlabel {
  color: var(--p2);
  font-size: 2.5vmin;
}
#taskview .taskview_duedate #tvddate {
  color: var(--p1);
  font-size: 3vmin;
}
#taskview #taskview_edit {
  width: 100%;
  padding: 2vmin;
  font-size: 3vmin;
  color: var(--p1);
  background: var(--active);
  border-radius: var(--border-rad);
  cursor: pointer;
  transition: 0.35s;
  box-shadow: 0 0 2vmin rgba(var(--active), 0.75);
  text-shadow: 0 0 3vmin var(--p3);
}
#taskview #taskview_edit:hover {
  box-shadow: 0 0.5vmin 5vmin var(--active);
  transform: translateY(-0.5vmin);
  text-shadow: 0 0 2vmin var(--h1);
}/*# sourceMappingURL=style.css.map */