@import "theme";
//-----------------
#root, body, html {
  height: calc(100dvh - 35px);
  width: 100dvw;
  position: fixed;
  top: 35px;
  left: 0%;
  margin: 0;
  background: $bg2;
  -webkit-app-region: no-drag;
  padding: 0;
  font-family: $font;
  ::selection {
    background: $active;
    color: $h2;
  }
}

#titlebar {
  height: 35px;
  width: 100dvw;
  position: fixed;
  top: 0;
  left: 0;
  background: $navbar;
  margin: 0;
  -webkit-app-region: drag;
  padding: 0;
  z-index: 9999;
  border-bottom: $outline;
  h1 {
    font-size: 18px;
    color: $p1;
    position: absolute;
    top: calc(35px / 2);
    transform: translateY(-50%);
    left: 10px;
    margin: 0;
    padding: 0;
    font-weight: 400;
  }
  #itemContainer {
    height: 35px;
    width: auto;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    .item {
      height: 35px;
      aspect-ratio: 1/1;
      background: $ui1;
      color: $p1;
      width: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      -webkit-app-region: no-drag;
      font-size: 15px;
      margin: 0;
      padding: 0;
      cursor: pointer;
      transition: $transition-time;
      &:hover {
        background: $active;
        color: $ui1;
        filter: 
            drop-shadow(0 0 1vmin $active)
            drop-shadow(0 0 5vmin $active)
            drop-shadow(0 0 10vmin $active);
      }
    }
  }
}
