$bg1: #252525;
$bg2: #202020;
$bg3: #171717;
$bg4: #101010;
$ui1: #303030;
$ui2: #2b2b2b;
$ui3: #252525;
$ui4: #404040;
$ui5: #606060;
$h1: #f5f5f5;
$h2: #f0f0f0;
$p1: #e0e0e0;
$p2: #d5d5d5;
$p3: #cacaca;
$disabled: #b5b5b5;
$navbar: $bg4;
$active: #8745f1;
$transition-time: .35s;
$border-rad: 10px;
@import url('https://fonts.cdnfonts.com/css/orbiter-fbs-trial');
$font: 'Orbiter FBS Trial', sans-serif;
$outline: #45454595 solid 1px;
$outline-active: #6f27e4 solid 1px;
